button {
  background-color: red;
  border: 0;
  color: white;
  padding: 20px;
  transition: ease-out 300ms;
  cursor: pointer;

  animation-name: my-animation;
  animation-duration: 2s;
}

button:hover {
  border-radius: 30px;
  background-color: blue;
}

@keyframes my-animation {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 800px;
    background-color: blue;
    border-radius: 30px;
  }
}
